.Button {
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 0.5rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.1s;
  user-select: none;
}

.Button:active {
  transform: scale(0.98);
}

.ButtonText {
  width: 80%;
  padding: 1rem;
  text-align: center;
  background-color: #f46036;
  border-top-left-radius: 2rem;
  pointer-events: none;
}

.ButtonState {
  opacity: 0.8;
  width: 20%;
  background-color: #3dc272;
}

.disabled {
  background-color: #8b8b8b;
}
