.Header {
  display: flex;
  align-items: flex-end;
  position: relative;
}

/* .Header::after {
  content: ' ';
  position: absolute;
  width: 80px;
  height: 80px;
  right: 3rem;
  top: 2rem;
  background: center / contain no-repeat url('./arrow.png');
} */
