.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  width: 25%;
  min-width: 400px;
  background-color: #333333;
  padding: 2rem;
}

.sidebarTitle {
  width: 100%;
  text-align: center;
  margin: 4rem 0;
}

.buttonContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}
